<nav class="navbar navbar-expand-lg navbar-light">
    <div class="header">
      
        <div class="logo">
            <img src="../../../../assets/images/logo.png" alt="Logo">
        </div>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <a class="list-group-item-action menu" aria-current="page" routerLinkActive="list-group-item active" routerLink="home">Inicio</a>

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle list-group-item-action menu" routerLinkActive="list-group-item active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Productos
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item menu" [routerLink]="['products']">Ver productos</a></li>
                    <li><a class="dropdown-item menu" (click)="addProduct()">Nuevo producto</a></li>
                </ul>
            </div>
            
            <a class="list-group-item-action menu" aria-current="page" routerLinkActive="list-group-item active" routerLink="contact">Contacto</a>

            <app-search-field></app-search-field>

            <button class="list-group-item-action login me-2" (click)="login()" *ngIf="!loggedIn">Iniciar sesión</button>
            <button class="list-group-item-action logout me-2" (click)="logout()" *ngIf="loggedIn">Salir</button>

        </div>
        
    </div>
</nav>