<div class="alert alert-primary text-center mt-5" *ngIf="loading">
    <p class="fs-3 fw-bold">Cargando</p>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class="fs-6 py-2">Por favor espere</p>
</div>


<ng-container *ngIf="!loading">
    <h3 class="my-3 text-center text-decoration-underline">Editar producto</h3>
    
    <form (ngSubmit)="save()">
        <div class="row g-3 justify-content-md-center mt-2 mx-2">
            <div class="col-md-5">
              <label for="inputProductName" class="form-label">Nombre del producto*</label>
              <input type="text" class="form-control" id="inputProductName" name="inputProductName" placeholder="Escriba el nombre del producto" [(ngModel)]="product.name" autocomplete="off" required>
            </div>
        
            <div class="col-md-4">
                <label for="inputSupplier" class="form-label">Proveedor*</label>
                <select id="inputSupplier" name="inputSupplier" class="form-select" [(ngModel)]="product.idSupplier" required>
                  <option *ngFor="let supplier of suppliers" [value]="supplier._id">{{ supplier.companyName }}</option>
                </select>
            </div>
        </div>
    
        <div class="row g-3 justify-content-md-center mt-2 mx-2">
            <div class="col-md-9">
                <label for="inputProductDescription" class="form-label">Descripción del producto</label>
                <textarea class="form-control" id="inputProductDescription" name="inputProductDescription" placeholder="Escriba una descripción del producto" rows="2" [(ngModel)]="product.description" autocomplete="off"></textarea>
            </div>
        </div>
    
        <div class="row g-3 justify-content-md-center mt-2 mx-2">
            <div class="col-md-3">
              <label for="inputProductAmount" class="form-label">Cantidad*</label>
              <input type="number" min="0" class="form-control" id="inputProductAmount" name="inputProductAmount" placeholder="Ingrese cantidad de producto" [(ngModel)]="product.stock" autocomplete="off" required>
            </div>
            
            <div class="col-md-3">
                <label for="inputProductPrice" class="form-label">Precio*</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text">$</span>
                    <input type="number" min="0" step="0.1" class="form-control" id="inputProductPrice" name="inputProductPrice" placeholder="Precio del producto" [(ngModel)]="product.price" autocomplete="off" required>
                </div>
            </div>
            
            <div class="col-md-3">
              <label for="inputProductQuota" class="form-label">Cuotas</label>
              <input type="number" min="1" class="form-control" id="inputProductQuota" name="inputProductQuota" placeholder="Ingrese las cuotas disponibles" [(ngModel)]="product.quotas" autocomplete="off">
            </div>
        </div>
    
        <div class="row g-3 justify-content-md-center mt-2 mx-2">
            <div class="col-md-9">
                <label for="inputProductImage" class="form-label">Imagen del producto*</label>
                <input class="form-control" type="text" id="inputProductImage" name="inputProductImage" placeholder="Ingrese el link de la imagen" autocomplete="off" [(ngModel)]="product.image" autocomplete="off" required>
            </div>
        </div>
        
        <div class="row g-3 justify-content-md-center mt-2 mx-2">
            <div class="col-md-9 mb-2">
                <button type="button" class="btn btn-outline-danger me-2" (click)="cancel()">
                    Cancelar
                </button>
                
                <button type="submit" class="btn btn-outline-success" [disabled]="!formIsValid()">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </div>
    </form>
</ng-container>