<div class="card">
    <div class="image" (click)="seeProduct()">
        <img [src]="product.image" [alt]="product.name">
    </div>
    <div class="product-description">
        <h4 class="product-name" data-bs-toggle="tooltip" data-bs-placement="top" [title]="product.name">{{ product.name }}</h4>

        <p class="product-price">Precio: {{ product.price | currency }}</p>

        <p class="product-quota" *ngIf="product.quotas > 1">Cuotas: {{ product.quotas }} x {{ product.price/product.quotas | currency }}</p>

        <p class="product-quota" data-bs-toggle="tooltip" data-bs-placement="top" title="No disponible" *ngIf="product.quotas === 1">Cuotas: No disponible</p>

        <button class="btn btn-outline-primary btn-seemore" (click)="seeProduct()">
            <i class="fa fa-eye"></i> Ver más
        </button>
    </div>
</div>
