.container-form {
    margin: 10px;
}

.text h1::after {
    display: block;
    content: '';
    width: 55px;
    height: 3px;
    background-color: #2196F3;
    margin: 10px 0 10px;
}

.text p::after {
    display: block;
    content: '';
    width: 55px;
    height: 3px;
    background-color: #2196F3;
    margin: 10px 0 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

@media screen and (min-width: 600px) {
    .contact-form {
        flex-flow: row wrap;
    }
    
    .form-group {
        flex-grow: 1;
        margin-right: 10px;
    }

    .form-group:nth-child(3) {
        flex-basis: 100%;
    }

    .form-group:nth-child(4) {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .container-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-form {
        justify-content: center;
    }

    .contact-form button {
        margin-right: 10px;
        flex-basis: 100%;
    }
}